#content{
     display: flex;
     justify-content: center;
} 

form{
     color: #4dff00;
}

input{
     margin: 5px;
     padding: 2px;
}

td, .like{
     padding: 5px;
     font-size: 1.2em;
}

textarea::placeholder{
     font-size: 20px;
}

/* Style for buttons and valid input in contact.html */
#submit, #reset{
     background: #B9DFFF;
     color: #000000;
     border-radius: 10px;
     box-shadow: 5px 5px 5px #12be40;
     text-shadow: none;
     cursor: pointer;
     font-size: 1.4em;
     height: 50px;
     width: 47%;
     margin-top: 20px;
     margin-bottom: 20px;
}

#submit:hover, #reset:hover{
     background: #016ABC;
     color: #00ff44;
     border-radius: 10px;
     box-shadow: 3px 3px 3px #eee;
     text-shadow: none;
     font-weight: 700;
}

input + span {
     position: relative;
}

input:invalid, input:focus:invalid {
     border: 2px solid red;
}

input:valid, input:focus:valid {
     border: 2px solid green;
}

input:invalid + span::before {
     content: "✖";
     color: red;
}

input:valid + span::before {
     content: "✓";
     color: green;
}

form#contactMe input:focus-within{
     background-color: lightblue;
}

#createError{
     position: relative;
     color:red;
     top: 10px;
     font-size: 1.5em;
}