@charset "UTF-8";

#content{
     display: flex;
     justify-content: center;
} 

h3{ 
	font-size: 2.2em;
	margin-right: 15px; 
}

form{
     color: #4dff00;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

/*
input{
     margin: 5px;
     padding: 2px;
}
*/

td, .like{
     padding: 5px;
     font-size: 1.4em;
}

textarea::placeholder{ 
	font-size: 20px; 
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";	
}

textarea{ padding: 10px; }

/* Style for buttons and valid input in contact.html */
#submit, #reset{
     font-size: 1.6em;
	font-weight: bold;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";	
	color: #000000;
     background: #B9DFFF;
     border-radius: 10px;
     box-shadow: 5px 5px 5px #12be40;
     text-shadow: none;
     cursor: pointer;
     height: 50px;
     width: 49%;
     margin-top: 20px;
     margin-bottom: 20px;
	border: outset;
}	

#submit:hover, #reset:hover{
     color: #00ff44;
     background: #0ABC;
     box-shadow: 3px 3px 3px orange;
}

input + span{ position: relative; }
input:invalid, input:focus:invalid{ border: 2px solid red; }
input:valid, input:focus:valid{ border: 2px solid green; }

input:invalid + span::before{
     content: "✖";
     color: red;
}

input:valid + span::before{
     content: "✓";
     color: green;
}

form#contactMe input:focus-within{ background-color: lightblue; }

#createError{
     position: relative;
     color: red;
/*     top: 10px;*/
     font-size: 1.8em;
}